#include "include\version.h"
#include <winres.h>

1 VERSIONINFO
 FILEVERSION NOPOISONDIALOGUE_VERSION_MAJOR, NOPOISONDIALOGUE_VERSION_MINOR, NOPOISONDIALOGUE_VERSION_PATCH, NOPOISONDIALOGUE_VERSION_BETA
 PRODUCTVERSION NOPOISONDIALOGUE_VERSION_MAJOR, NOPOISONDIALOGUE_VERSION_MINOR, NOPOISONDIALOGUE_VERSION_PATCH, NOPOISONDIALOGUE_VERSION_BETA
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Enhanced No Poison Dialogue"
			VALUE "FileVersion", NOPOISONDIALOGUE_VERSION_VERSTRING
            VALUE "InternalName", "Enhanced No Poison Dialogue"
            VALUE "LegalCopyright", ""
            VALUE "ProductName", "Enhanced No Poison Dialogue"
			VALUE "ProductVersion", NOPOISONDIALOGUE_VERSION_VERSTRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
